= sniph_heading

%ul.snips
	- @snips.each do |snip|
		- url = snip.url.remove_http_and_www
		%li.snip
			%p.content
				- if params[:q].present?
					= snip.content.gsub(/(#{params[:q]})/i, "<span class='q'>#{params[:q]}</span>").html_safe
				- else
					= snip.content
			%p.source
				= link_to(url.sub(url.domain_without_www, "<span class='domain'>#{url.domain_without_www}</span>").html_safe, snip.url)