%h1= t '.title'
%p
  = link_to t('back'), snips_path
  = link_to t('edit'), edit_snip_path(@snip)

%dl
  %dt= Snip.human_attribute_name :url
  %dd= @snip.url
  %dt= Snip.human_attribute_name :content
  %dd= @snip.content
  %dt= Snip.human_attribute_name :user
  %dd= @snip.user
