%div.content

  %h1 Settings

  = semantic_form_for(current_user, :html => {:class => ""}) do |form|

    = errors_for form
  
    = form.inputs do
    
      %h3 Mode
      %p Sniphs saved when you're in private mode are only visible to you.
      = form.input :mode, :as => :select, :collection => %w(public private), :include_blank => false, :label => false

      %h3 Domain Whitelist
      %p One domain per line. Leave blank to allow all domains. Leave off the www.
      = form.input :whitelist, :label => false

    = form.buttons do
      = form.submit "Save"