= form_for(@sniph) do |f|
  - if @sniph.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@sniph.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @sniph.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :url
    %br
    = f.text_field :url
  .field
    = f.label :content
    %br
    = f.text_area :content
  .field
    = f.label :user
    %br
    = f.text_field :user

  .actions
    = f.submit
