= sniph_heading(@sniphs)

- if @sniphs.present?
	%ul.sniphs
		
		- @sniphs.each do |sniph|
			- url = sniph.url.remove_http_and_www
			%li.sniph
				%p.content
					= sniph_content sniph
				%p.source
					= sniph_source sniph
				%p.metadata
					= sniph_metadata sniph

= sample_sniph_queries