%div.content

  = sniph_heading(@sniphs)

  - if @sniphs.present?
    %ul.sniphs
    
      - @sniphs.each do |sniph|
        - url = sniph.url.remove_http_and_www
        %li.sniph{:id => "sniph_#{sniph.id}"}
          %p.content
            = sniph_content sniph
          %p.source
            = sniph_source sniph
          %p.metadata
            = sniph_metadata sniph
          %p.tags
            = sniph_tags sniph
          
  = will_paginate @sniphs

  - if logged_in?
    %h2 Your Tags
    = sniph_tag_cloud(@user_tags, :user => true)

  %h2 Public Tags
  = sniph_tag_cloud(@tags)

