%div.content

  %h1 Frequently Axed Questions

  %div.column

    %h2 What is it?
    %p
      Sniphr is a website and Google Chrome extension that 
      lets you save images and snippets of text as you browse the web.

    %h2 Why is it better?

    %h3 Design

    %p
      The sniphr extension doesn't get in your way.
      To save something, you just hold down the 
      %b shift key
      and click on an image or select some text. Or you can right-click 
      on any image or snippet of selected text and click 
      'Sniph' from the context menu.
      
      = image_tag "context_menu_screenshot.png", :class => "roomy"

    %h3 Automation
      
    %p
      Sniphr automatically tags your content for you using linguistic APIs from Delicious and Wordnik.
      This makes it easy for you to find stuff you've saved without having to tag and organize it all.

    %h3 Granularity

    %p Why bookmark entire webpages when you can save specific fragments of sentences and images?
      
    %h3 Accessibility
      
    %p
      The Sniphr website and browser extension are free, and  
      = link_to("Sniphr has an API", "http://github.com/zeke/sniphr") + "," 
      much like Andre has a posse.
    
    %h2 What about my privacy?
  
    %p
      We believe your data is your own, and we provide controls to protect your privacy.
      When you
      = link_to("put your account in private mode", settings_path) + ","
      the content you save is hidden from everyone but you.

    %h2 I accidentally sniph'd some top-secret and/or embarrassing content. Can I delete it?

    %p
      Yep.
        
    %h2 Can I get a side of JSON with those sniphs?

    %p Comin' right up. Just tack <b>.json</b> onto any <b>/sniphs</b> URL. Some example queries:
    
    %p= sample_sniph_queries
      
    %h2 Where's the source code?
  
    %p
      = link_to("github.com/zeke/sniphr", "http://github.com/zeke/sniphr")
      and
      = link_to("github.com/zeke/sniphr-chrome", "http://github.com/zeke/sniphr-chrome")
    
    %h2 Who's behind this?
    %p 
      = link_to("@zeke", "http://twitter.com/zeke")
      and
      = link_to("@wordnik", "http://twitter.com/wordnik") + "."
      Hit us up with your questions/comments/ideas!