= query_heading(@queries)

= will_paginate @queries

- if @queries.present?
	
	%table.queries
		%thead
			%tr
				%th Query
				%th User
				%th Results
				
		%tbody
			- @queries.each do |query|
				%tr
					%td= query_q(query)
					%td= query.user.nickname if query.user.present?
					%td= weak_if_zero(query.num_results)
	
= will_paginate @queries