<!DOCTYPE html> 
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = csrf_meta_tag # required for rails 3 js
    %title Sniphr
    
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    /[if lt IE 7]
      = stylesheet_link_tag 'compiled/ie6.css', :media => 'screen, projection'
    
    = javascript_include_tag "head.min"
    = headjs_include_tag configatron.javascripts
    
  %body
  
    = user_nav
    
    = yield